.journey-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3rem;
}

.experience-box,
.education-box {
    position: relative;
    padding-left: 2rem;
    border-left: .2rem solid var(--main-color);
}


.title {
    margin: 0 0 1.5rem 2rem;
}