.skill-cards {
  margin: 10px;
  border-radius: 15px;
  overflow: visible;
  padding: 1rem;
  border: 2px solid var(--main-color);
  background: var(--bg-color);
}

.skill-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2);
}


.card-title {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.card-title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(to right, var(--bg-color), var(--text-color), transparent);
}

.languages {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  display: grid;
  overflow: scroll;

}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}