#contact {
    min-height: auto;
    padding-bottom: 5rem;
}

.contact-form {
    margin: 0 auto;
    max-width: 70rem;
    padding: 5rem;
    width: 100%;
}

.contact-form .input-box {
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column; /* Default to column for smaller screens */
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form .input-box .input-field {
    position: relative;

    width: 100%; /* Full width for smaller screens */
    margin-bottom: 1rem;
    height: 50px;
}

@media(min-width: 768px){
    .contact-form {
        width: 70%;
    }
}

@media (min-width: 1280px) {
    .contact-form {
        width: 60%;
    }
    .contact-form .input-box {
        flex-direction: row; /* Row-wise for larger screens */
    }
    .contact-form .input-box .input-field {
        width: 49%; /* Adjust width for larger screens */
    }
}

/* Ensure padding is applied correctly */
.contact-form .input-box .input-field input,
.contact-form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: .875rem;
    color: var(--text-color);
    background: transparent;
    border-radius: 0.4rem;
    border: 0.14rem solid var(--main-color);
    box-sizing: border-box;
}

.contact-form .input-box .input-field input::placeholder,
.contact-form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact-form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
}

.contact-form .textarea-field textarea {
    resize: none;
}

.contact-form .selected-field{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .3s;
}


.contact-form .input-box .input-field input:focus ~ .selected-field,
.contact-form .input-box .input-field input:valid ~ .selected-field,
textarea:focus ~ .selected-field,
textarea:valid ~ .selected-field {
    width: 100%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}