.service-cards-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
  overflow-y: scroll;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
  }
}

.project-cards-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: scroll;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .project-cards-container {
    display: grid;
    gap: 15px;
    overflow-x: hidden;
  }
}