/* ----------------------Nav Bar component----------------------*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add other properties as needed */
    z-index: 1000;
  }
  
  .header{
    background: var(--bg-color);
  }