.exp-card, .edu-card{
    height: 150px;
    padding-left: 5px;
    padding: 2px;
    padding-top: 15px;
    border: .2rem solid var(--main-color);
    border-radius: .4rem;
    margin-bottom: 2rem;
}

/* Blue Dot */
.exp-card::before, .edu-card::after{
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -2.7rem;
    width: 15px;
    height: 15px;
    background: var(--main-color);
    border-radius: 50%;
}