@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

:root {
  --bg-color: #ededed;
  --text-color: #081b29;
  --gradient-color: linear-gradient(to right, var(--text-color), #98b6be);
  --animated-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  --secondary-color: #cdcdcd;
}

[data-theme='dark'] {
  --bg-color: #081b29;
  --text-color: #ededed;
  --gradient-color: linear-gradient(to right, var(--text-color), #00abf0);
  --secondary-color: #092133;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


/* ----------------------Nav Bar component----------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s, box-shadow 0.3s; /* Add other properties as needed */
  z-index: 1000;
}

.header{
  background: var(--bg-color);
}
.header nav a.active{
  color: #00abf0;
  text-shadow: 0 0 20px #00abf0;
}

.nav-bar-component {
  
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s* var(--i));
}
.nav-bar-component-mobile {
  transition: .3s;
  opacity: 0;
  animation: slideLeft .5s ease forwards;
  animation-delay: calc(.2s* var(--i));
}


.nav-bar-component:hover {
  text-shadow: 0 0 20px #00abf0;
}

/* Logo */
.logo {
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.mobile-menu {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 30px rgba(0, 171, 240, 0.1);
  border: 1px solid rgba(0, 171, 240, 0.3);
  padding: 1rem;
  border-radius: 10px;
}


.icons{
  transition: filter .3s;
}
.icons:hover{
  filter: drop-shadow(0 0 15px #00abf0);
}


/* -----------------------------------KEYFRAME ANIMATION----------------------------------- */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}