@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

:root {
  --bg-color: #ededed;
  --text-color: #081b29;
  --gradient-color: linear-gradient(to right, var(--text-color), #98b6be);
  --animated-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

[data-theme='dark'] {
  --bg-color: #081b29;
  --text-color: #ededed;
  --gradient-color: linear-gradient(to right, var(--text-color), #00abf0);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


/* ----------------------Nav Bar component----------------------*/
.nav-bar-component {
  transition: .3s;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s* var(--i));
}


.nav-bar-component:hover {
  text-shadow: 0 0 20px #00abf0;
}

/* Logo */
.logo {
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

/* -------------------------Home page Section-------------------------*/
.intro-tag {
  transition: .3s;
  opacity: 0;
  animation: slideLeft 1.5s ease forwards;
  animation-delay: .3s;
}
.name-tag{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text {
  background: var(--animated-gradient);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradient-animation 15s ease infinite;
}

.designation-tag {
  transition: .3s;
  opacity: 0;
  animation: slideLeft 1.5s ease forwards;
  animation-delay: .3s;
}

.section-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: background-color 0.3s ease;
}

/* Hire me button from Home page*/
.hire-me-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}

.hire-me-btn:hover::before {
  width: 100%;
}

.hire-me-btn:hover {
  color: var(--text-color);
  box-shadow: 0 0 30px #00abf0;
}

/* Hire me button from Home page*/
.lets-talk-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--text-color);
  z-index: -1;
  transition: .5s;
}

.lets-talk-btn:hover::before {
  width: 100%;
}

.lets-talk-btn:hover {
  color: var(--bg-color);
  border: none;
  box-shadow: 0 0 30px #00abf0;
}


/* -----------------------------Social media logos-----------------------------*/
.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  bottom: 100px;
  width: 175px;
  position: absolute;
}

/* Link styling */
.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  padding: 0.1rem;
  height: 40px;
  width: 40px;
  background-color: var(--bg-color);
  border: 1px solid #00abf0;
  border-radius: 50px;
  transition: box-shadow 0.3s ease;
}

.social-link:hover {
  background-color: #00abf0;
  box-shadow: 0 0 20px #00abf0;
}

/* Image styling */
.social-icon {
  width: 2.5rem;
  fill: var(--text-color);
}


/* -----------------------------------KEYFRAME ANIMATION----------------------------------- */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}