.ProjectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 80%;
    height: 100%;
    padding: 30px 20px 16px 25px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    background: var(--secondary-color);
    box-sizing: border-box; /* Include padding in width calculation */
    scroll-behavior: smooth;
}

.Content{
    flex-grow: 1;
}
.Heading{
    align-items: center;
    justify-content: center;
}

.TagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.Tag {
    background: var(--main-color);
    border-radius: 15px;
}

.Icon-container{
    position: absolute;
    bottom: 10px;
    right: 10px;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Icon{
    height: 2rem;
    width: 2.5rem;
}